@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
  }
   
  
  @font-face {
    font-family: 'Creepster';
    src: url(../GoogleFonts/Creepster/Creepster-Regular.ttf);
  }
  
  @font-face {
    font-family: 'Itim';
    src: url(../GoogleFonts/Itim/Itim-Regular.ttf);
  }
  
  @font-face {
    font-family: 'Kranky';
    src: url(../GoogleFonts/Kranky/Kranky-Regular.ttf);   
  }
  
  @font-face {
    font-family: 'PT_Serif';
    src: url(../GoogleFonts/PT_Serif/PTSerif-Bold.ttf);
  }
  @font-face {
    font-family: 'Rye';
    src: url(../GoogleFonts/Rye/Rye-Regular.ttf);
  }


.Creepster {
    font-family: 'Creepster', cursive;
}
.Itim {
    font-family: 'Itim', cursive;
}
.Kranky {
    font-family: 'Kranky', cursive;
}
.LibreBaskerville {
    font-family: 'Libre Baskerville', serif;
}
.PTserif {
    font-family: 'PT Serif', serif;
}
.Rye {
    font-family: 'Rye', cursive;
}
 
 